{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="btn-group me-2" role="group" aria-label="Second group">
        {% for track in tracks %}
          <a href="{{ url_for('lessons.track', pk=track.id) }}" 
            class="btn btn-secondary {% if track.id == current_lesson.sprint.track.id %}
            active disabled{% endif %}">{{ track.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          {% for sprint in current_lesson.sprint.track.sprints %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading{{ sprint.id }}">
              <button class="accordion-button {% if current_lesson not in sprint.lessons %}collapsed{% endif %}" 
              type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ sprint.id }}" 
              aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ sprint.id }}">{{ sprint.name }}</button>
            </h2>
            <div id="panelsStayOpen-collapse{{ sprint.id }}" class="accordion-collapse collapse 
            {% if current_lesson in sprint.lessons %}show{% endif %}" 
              aria-labelledby="panelsStayOpen-heading{{ sprint.id }}">
                <ol class="list-group list-group-numbered">
                  {% for lesson in sprint.lessons %}
                    <li class="list-group-item {% if lesson.id == current_lesson.id %}active{% endif %}">
                      <a href="{{ url_for('lessons.lesson', pk=lesson.id) }}" 
                      class="{% if lesson.id == current_lesson.id %}text-white{% endif %}">{{ lesson.name }}</a>
                    </li>
                  {% endfor %}
                </ol>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-8">
        <div class="row row-cols-1">
          <div class="col">
            {% for content in current_lesson.lesson_video() %}
              <iframe width="850" height="480"
                src="https://www.youtube.com/embed/{{ content.url }}" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
            {% endfor %}
          </div>
          <div class="col">
            {% if current_user.is_authenticated %}
            <h3>Привет, {{ current_user.first_name }}!</h3>
            {{ current_lesson.sprint.description }}
            {% endif %}
          </div>
          <div class="col">
            <h3>Дополнительные материалы!</h3>
            <div class="container">
              <div class="row row-cols-auto">
                {% for content in current_lesson.sprint.github_reposit() %}
                  <a href="{{ content.url }}">
                    <img src="{{ url_for('static', filename=thumbnail(content.image)) }}"></a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}