<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Поиск">
          </form>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" 
            data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Выйти</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="btn-group me-2" role="group" aria-label="Second group">
          {% for track in tracks %}
            <a href="{{ url_for('lessons.track', pk=track.id) }}" 
              class="btn btn-secondary {% if track.id == current_lesson.sprint.track.id %}
              active disabled{% endif %}">{{ track.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            {% for sprint in current_lesson.sprint.track.sprints %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-heading{{ sprint.id }}">
                <button class="accordion-button {% if current_lesson not in sprint.lessons %}collapsed{% endif %}" 
                type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ sprint.id }}" 
                aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ sprint.id }}">{{ sprint.name }}</button>
              </h2>
              <div id="panelsStayOpen-collapse{{ sprint.id }}" class="accordion-collapse collapse 
              {% if current_lesson in sprint.lessons %}show{% endif %}" 
                aria-labelledby="panelsStayOpen-heading{{ sprint.id }}">
                  <ol class="list-group list-group-numbered">
                    {% for lesson in sprint.lessons %}
                      <li class="list-group-item {% if lesson.id == current_lesson.id %}active{% endif %}">
                        <a href="{{ url_for('lessons.lesson', pk=lesson.id) }}" 
                        class="{% if lesson.id == current_lesson.id %}text-white{% endif %}">{{ lesson.name }}</a>
                      </li>
                    {% endfor %}
                  </ol>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-8">
          <div class="row row-cols-1">
            <div class="col">
              {% for content in current_lesson.lesson_video() %}
                <iframe width="850" height="480"
                  src="https://www.youtube.com/embed/{{ content.url }}" 
                  title="YouTube video player" frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen>
                </iframe>
              {% endfor %}
            </div>
            <div class="col">
              <td>{{ current_lesson.sprint.description }}</td>
            </div>
            <div class="col">
              <h3>Дополнительные материалы!</h3>
              <div class="container">
                <div class="row row-cols-auto">
                  {% for content in current_lesson.sprint.github_reposit() %}
                    <a href="{{ content.url }}">
                      <img src="{{ url_for('static', filename=thumbnail(content.image)) }}"></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>