{% extends "base.html" %}

{% block content %}
  <div class="container">
    <!-- <h4 class="mt-3">total_lesson_content_number: {{ total_lesson_content_number }}</h4>
    <h4 class="mt-3">Твой прогресс по спринту: </h4>
    <h4 class="mt-3">completed_lesson_content_number: {{ completed_lesson_content_number }}</h4> -->
    <div class="progress my-3">
      <div class="progress-bar-striped bg-primary text-center text-white" role="progressbar" style="width: {{ sprint_progress }}%; line-height: 16px;" aria-valuenow="{{ sprint_progress }}" aria-valuemin="0" aria-valuemax="100">{{ sprint_progress }}%</div>
    </div>
    <div class="row">
      <div class="btn-group me-2" role="group" aria-label="Second group">
        {% for track in tracks %}
          <a href="{{ url_for('lessons.track', pk=track.id) }}" 
            class="btn btn-secondary {% if track.id == current_lesson.sprint.track.id %}
            active disabled{% endif %}">{{ track.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-4 mt-3">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          {% for sprint in current_lesson.sprint.track.sprints %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading{{ sprint.id }}">
              <button class="accordion-button {% if current_lesson not in sprint.lessons %}collapsed{% endif %}" 
              type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ sprint.id }}" 
              aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ sprint.id }}">{{ sprint.name[:8] }}</button>
            </h2>
            <div id="panelsStayOpen-collapse{{ sprint.id }}" class="accordion-collapse collapse 
            {% if current_lesson in sprint.lessons %}show{% endif %}" 
              aria-labelledby="panelsStayOpen-heading{{ sprint.id }}">
                <ol class="list-group list-group-numbered">
                  {% for lesson in sprint.lessons %}
                    <li class="list-group-item {% if lesson.id == current_lesson.id %}active{% endif %}">
                      <a href="{{ url_for('lessons.lesson', pk=lesson.id) }}" 
                      class="{% if lesson.id == current_lesson.id %}text-white{% endif %}">{{ lesson.name }}</a>
                    </li>
                  {% endfor %}
                </ol>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-8">
        <div class="row row-cols-1">
          <div class="col mt-3">
            {% for content in current_lesson.lesson_video() %}
              <iframe width="840" height="450"
                src="https://www.youtube.com/embed/{{ content.url }}" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
              </iframe>
              <a href="#" class="complete-content btn btn-dark my-3" data-content="{{ content.id }}">Понятно!<span class="progress-button"></span></a>
            {% endfor %}
          </div>
          <div class="col">
            {% if current_user.is_authenticated %}
            <h3>Привет, {{ current_user.first_name }}!</h3>
            {{ current_lesson.sprint.description }}
            {% endif %}
          </div>

          <div class="col">
            <h3>Дополнительные материалы!</h3>
            <div class="container">
              <div class="row row-cols-auto">
                {% for content in current_lesson.sprint.github_reposit() %}
                  <a href="{{ content.url }}">
                    <img src="{{ url_for('static', filename=thumbnail(content.image)) }}"></a>
                    {{ content.description }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      const completeContentButton = $('.complete-content');
      completeContentButton.on('click', function(e) {
        e.preventDefault();
        const pk = $(this).data('content');
        console.log(pk)
        $.ajax({
            url: `/lessons/progress/${pk}`,
            method: 'POST',
            {#data: JSON.stringify({'pk': pk}),#}
            {#contentType: "application/json; charset=utf-8",#}
            {#dataType: "json",#}
            success: function (result) {
              console.log(result)
            }
        });
      })
      console.log(completeContentButton)
    });
  </script>
{% endblock %}