{% extends "base.html" %}

{% block content %}
{% include('messages.html') %}
<div class="row mt-4">
    <div class="col-lg-5 col-md-6 m-auto card p-4">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username() }}<br>
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password() }}<br>
            </div>
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}