<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white" href="https://learn.python.ru/">
        <font color="blue">L</font>EARN <font color="yellow">P</font>YTHON
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-white">

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Search">
            </form>


            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <span class="nav-link">Привет, {{ current_user.username }}!</span>
            </li>
            <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
                {% if current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admins.admin_index') }}">Админка</a>
                </li>
                {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.logout') }}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" color="white" href="{{ url_for('users.register') }}">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users.login') }}">Войти</a>
            </li>
            {% endif %}


            <!-- <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" 
                data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Выйти</a></li>
                </ul>
            </div> -->


        </ul>
    </div>
</nav>