<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" 
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#">LEARN PYTHON WEB</a>

        <ul class="navbar-nav">
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.register') }}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}">Войти</a>
                </li>
            {% else %}

            <form class="d-flex justify-content-center" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary me-2" type="submit">Search</button>
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Личный кабинет</a></li>
                    <li><a class="dropdown-item" href="#">Сообщения</a></li>
                    <li><a class="dropdown-item" href="#">Проекты</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('users.promo') }}">Welcome page</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {% if current_user.is_admin %}
                    <li><a class="dropdown-item" href="{{ url_for('admins.admin_index') }}">Админка</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Выйти</a></li>
                </ul>
            </div>
            {% endif %}
        </ul>
    </div>
</nav>