{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <p class="fs-4 text-center">Привет, {{ current_user.first_name }}!<br><br>
                Это Михаил Корнеев и команда Learn Python!<br>Мы хотим рассказать вам о том, как устроен курс.<br><br>
                Первое занятие пройдет в субботу, 14 мая с 13:00 МСК до 15:30 МСК.<br><br>
                Созваниваться мы будем через 
                <a href="https://us02web.zoom.us/j/87042290859?pwd=SmVwN2QyQzNFemk5SEt3K3VKUXJuZz09">Zoom</a><br>
                (нажмите на ссылку в субботу, раньше - не надо, там ничего не будет =) )<br><br>
                Если вы не сможете присутствовать на созвоне, мы будем очень скучать по вам.<br><br>
                Запись созвона ведется, поэтому вы сможете просмотреть его позже.<br><br>
                Все последующие созвоны будут проходить по субботам с 11:00 МСК.<br><br>
                Часто задаваемые вопросы про учебу онлайн доступны по ссылке <a href="#">FAQ</a><br><br></p>
                <div class="d-grid justify-content-end">
                    <a href="{{ url_for('lessons.index') }}" class="btn btn-primary">Начать обучение!</a></button>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}