<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Привет, {{ first_name }}!

    Это Михаил Корнеев и команда Learn Python! Мы хотим рассказать вам о том, как устроен курс.
    Первое занятие пройдет в субботу, 14 мая с 13:00 МСК до 15:30 МСК.

    Созваниваться мы будем через Zoom (установите себе клиент). 
    <a href="https://us02web.zoom.us/j/87042290859?pwd=SmVwN2QyQzNFemk5SEt3K3VKUXJuZz09">Ссылка для созвона</a>
    (нажмите на нее в субботу, раньше - не надо, там ничего не будет =) )
    Если вы не сможете присутствовать на созвоне, мы будем очень скучать по вам. 
    Запись созвона ведется, поэтому вы сможете просмотреть его позже.
    Все последующие созвоны будут проходить по субботам с 11.00 МСК. 
    Часто задаваемые вопросы про учебу онлайн.
    </h2>
</body>
</html>