<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
  </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4><p class="text-center">Привет, !<br><br>
                    Это Михаил Корнеев и команда Learn Python!<br>Мы хотим рассказать вам о том, как устроен курс.<br><br>
                    Первое занятие пройдет в субботу, 14 мая с 13:00 МСК до 15:30 МСК.<br><br>
                    Созваниваться мы будем через 
                    <a href="https://us02web.zoom.us/j/87042290859?pwd=SmVwN2QyQzNFemk5SEt3K3VKUXJuZz09">Zoom</a><br>
                    (нажмите на нее в субботу, раньше - не надо, там ничего не будет =) )<br><br>
                    Если вы не сможете присутствовать на созвоне, мы будем очень скучать по вам.<br><br>
                    Запись созвона ведется, поэтому вы сможете просмотреть его позже.<br><br>
                    Все последующие созвоны будут проходить по субботам с 11.00 МСК.<br><br>
                    Часто задаваемые вопросы про учебу онлайн.</h4><br><br></p>
                    <button type="button" class="btn btn-primary"><a href="{{ url_for('index') }}" class="text-white">Далее</a></button>
                </div>
            </div> 
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>